# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: dotnet test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        dotnet: [
          { tfm: net8.0, version: 8.0.x },
          { tfm: net9.0, version: 9.0.x },
          { tfm: net10.0, version: 10.0.x },
        ]

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET 10.0 # Latest dotnet version supported
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x

    - name: Display dotnet version
      run: dotnet --version

    - name: Build
      run: dotnet build PhenX.EntityFrameworkCore.BulkInsert.Net10.slnx --framework ${{ matrix.dotnet.tfm }}

    - name: Test
      run: dotnet test PhenX.EntityFrameworkCore.BulkInsert.Net10.slnx --no-build --verbosity normal --framework ${{ matrix.dotnet.tfm }}
